//- Layout
extends layouts/_default

//- Variables
append mainVars
    //- - var example = true

//- Components
//- include partials/path/_file.pug

//- Main HTML file
block content

    h1 here comes all your content
    p just type it in

//- Custom Css
block css

//- Custom Javascript
block js
